.parent{
    border: solid 2px blue;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid 2px orange;
}

#one {
    position: relative; 
}
#two {
 top: 50px;
 left: 50px;
    position: relative;
}
#three {
    top: 30px;
    right: 30px;
    position: relative;
}
#four{
    position: relative;
}
