div {
    border: solid 2px orange;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
  display: inline-flex;
}

/*div:hover {
    transform: translateY(60px);
    transform: rotateY(60deg);
    transform: skewX(20deg)
} */

#d1 {
    transform: rotate(20deg);
    /*transform: scaleX(2);*/
  /*transform: translateX(20px);*/
    /*transform: skewX(20deg);*/
} 